{% for clipping in clippings %}{% if clipping.start_location %}*Location: {{clipping.start_location}}*{% endif %}
{% if clipping.date %}*Date: {{ clipping.date.strftime("%d %b %Y") }}*{% endif %}

> {{ clipping.text }}{% if clipping.notes %}

{{ clipping.notes }}

{% endif %}{% if not loop.last %}

---

{% endif %}{% endfor %}